*{
    box-sizing: 0;
    padding:0;
    border: 0;
}
body{
background-image: url(./imagenes/fondo.jpg);
}
#encabezado{
    background: #150050;
    color: white;
    border: 1px solid;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}
#contenedor {
    background-color: rgba(254, 254, 255, 0.281) ;
    border: 10px solid rgba(0, 0, 0, 0.651)  ;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 80%;
    margin: 50px auto;
}
.operador{
    /* padding:10px 20px; */
    width: 70px;
    height: 70px;
    margin: 20px;
    border-radius: 50% ;
    background:#150050;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    /* border: 1px solid; */
}
#pantalla{
    width: 80%;
    border: 6px solid;
    height: 100px;
    border-radius: 20%;
    background: rgb(226, 10, 208);
    padding-left: 10px;
    font-size: 3rem;
}

#botones{
   width: 80%;
    display: grid;
   /* grid-template-columns: repeat(5,1fr); */

   grid-template-columns: repeat(
    auto-fit,
    minmax(
        150px,
        1fr
    )
   );

   gap: 10px;
   
   justify-items: center;
}
.boton{
    height: 70px;
    width: 70px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    background:#3F0071;
    color: white;
}
.boton:hover{
    border: 6px solid white;
}
 .operador:hover{
border: 6px solid white;

}
/* #operaciones input:hover{
    border: 2px solid green;
} */

